<!DOCTYPE html> <!-- Instruction to web browser bcs HTML4 was based no SGMarkup Language --> 
	<html lang="en">
		<head>
			<meta charset="UTF-8"> <!-- Specifies the character encoding the document -->
   			<title> Admin page </title>
		</head>
		<body>
			<!-- Create new secretariat
					Form to input needed info
			-->
			<form action="/logoutAdmin" method="post"> 
				<input type="submit" value="Logout">
			</form>

			<h1> Create a new Secretariat </h1>
			<!-- Make a post request to the same web server that hosts the form page but to a different URL -->
			<form action="/addSecretariat" method="post"> <!-- method="get" leaves the data visible in the URL -->
				Name: <input type="text" name="Name"><br>
				Location: <input type="text" name="Location"><br>
				Description: <input type="text" name="Description"><br>
				Opening Hours: <input type="text" name="OpeningHours"><br>
				<input type="submit">
			</form>


			<!-- Edit secretariat 
					Form to input id or some other info 
					Edit dynamically (without updating rest of page) (input and save)
					Access logs
			-->
			<h1> Edit Secretariats </h1>
			<!-- Make a get request to the same web server that hosts the form page but to a different URL -->

			<form action="/searchSecretariat" method="post"> 
				Name: <input type="text" name="Name"><br>
				<input type="submit" onclick ="return resultSearch();"/>
			</form>

			<!-- flask returns render_template('adminSecretariat, item = data) -->
			<p id="display"></p><br>

			<!--
			Name: <p id="Name"></p>br>
			Location: <p id="Location"></p><br>
			Description: <p id="Description"></p><br>
			Opening Hours: <p id="OpeningHours"></p><br>
			-->

			<!-- Then on the API have a app.route('listLogs') that returns the render_template("listLogsTemplate.html", list = logs)-->
			<h1 href = "/listLogs"> Check logs </h1>			  

			<script>
				// to display the searched result
				function resultSearch(){
					var resource = {{item}};
					document.getElementById('display').innerHTML = resource;
					return true;
				}

			</script>
		</body>
		</html>
