<!DOCTYPE html> <!-- Instruction to web browser bcs HTML4 was based no SGMarkup Language --> 
	<html lang="en">
		<head>
			<meta charset="UTF-8"> <!-- Specifies the character encoding the document -->
   			<title> Read space with QR Code </title>
		</head>

		<body>
			<!-- 
			https://www.sitepoint.com/create-qr-code-reader-mobile-website/
			
			https://github.com/schmich/instascan (from webcam)

			https://www.itsolutionstuff.com/post/jquery-html5-qr-code-scanner-using-instascan-js-exampleexample.html (webcam simple - but it work?) -->

			<!-- Scan QR Code (using js widget) -->

			<!-- Access that resources' info (room or secretariat) using REST API -->

			<!-- 
				Qr code de uma app do movel ou qr code com webcam do pc - quero que o QR code redirecione para um link (que inclui id do recurso i guess) de uma pagina (page of the mobile app) que ira listar a info desse recurso 

				sem se atualizar a si propria vai atualizar a info do recurso 
			-->


		</body>
		</html>