<!DOCTYPE html> <!-- Instruction to web browser bcs HTML4 was based no SGMarkup Language --> 
	<html lang="en">
		<head>
			<meta charset="UTF-8"> <!-- Specifies the character encoding the document -->
   			<title> Regular user </title>
		</head>

		<body>
			<h1> Regular user query page</h1>
			<!-- Search Rooms/Secretariat/Canteen -->
			<form action="/search" method="post"> <!-- method="get" leaves the data visible in the URL -->
				
				Resource Identifier: <input type="text" name="RI"><br>
				<input type="submit">
			</form>

			
		</body>
		</html>