<!DOCTYPE html> <!-- Instruction to web browser bcs HTML4 was based no SGMarkup Language --> 
	<html lang="en">
		<head>
			<meta charset="UTF-8"> <!-- Specifies the character encoding the document -->
   			<title> Mobile App </title>
		</head>

		<body>
			<!-- These page can only be accessed by Auth users -->
			<p><a href="/readQR"> Pagina 1 - QR </a></p> <!--"testwebcam.html" -->
			<p><a href="validateSecrets.html"> Pagina 2 - Secret Gen </a></p> <!--"validateSecrets.html" -->
			<p><a href="validateSecrets.html"> Pagina 3 - Secret In </a></p> <!--"validateSecrets.html" -->

			<!-- Search Rooms/Secretariat/Canteen -->
			<!--<form action="/search" method="post"> --> <!-- method="get" leaves the data visible in the URL -->
				<!--
				Resource Identifier: <input type="text" name="RI"><br>
				<input type="submit">
				-->
			</form>

			
		</body>
		</html>