<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Storage Class</h1>
Number of values: {{ counter }}

{% for item in keys %}
    <ul>
        <li>get Counter of {{item}}
            <ul>
                <li><a href="/getValue?key={{item}}">/getValue?key={{item}}</a> </li>
                <li><a href="/value/{{item}}">/value/{{item}}</a> </li>
            </ul>
        </li>
    </ul>
{% endfor %}

<h1>Add new value</h1>
<form action="/addValue" method="post">
    number: <input type="text" name="val"><br>
    <input type="submit">
</form>
</body>
</html>